@use './overrides';
@use './typography';

:root {
  --shadow-color: rgb(23, 49, 128, 0.33);
  --shadow: 0px 3px 6px -2px var(--shadow-color);
  --bg-color: #f1f5fb;
}
*,
*:focus {
  outline: none;
}
.v-application {
  font-family: Roboto, 'Noto Sans JP', sans-serif;
}
