.v-application {
  // card
  .theme--light {
    &.v-card {
      border-radius: 0;
      box-shadow: none;
      color: var(--v-font-base);

      & > .v-card__subtitle,
      & > .v-card__text {
        line-height: 1.5rem;
        color: currentColor;
      }
    }
  }
  .v-card {
    background: transparent;
  }
  .v-card__title {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;
  }
  .v-card__subtitle,
  .v-card__text {
    font-size: 0.875rem;
    line-height: 1.5rem;
    font-weight: 500;
  }
  .v-card__subtitle,
  .v-card__text,
  .v-card__title {
    padding: 0;
    letter-spacing: normal;
  }
  .v-card__title + .v-card__subtitle {
    margin: 0;
  }

  // btn
  .v-btn {
    font-weight: 500;
    letter-spacing: normal;
    text-transform: initial;
    &:not(.v-btn--round) {
      &.v-size--default {
        padding: 0 0.75rem;
      }
    }
  }
  input[type='button']::-moz-focus-inner,
  input[type='reset']::-moz-focus-inner,
  input[type='submit']::-moz-focus-inner,
  button:focus-visible {
    border: 0;
    outline: none;
  }

  // list
  .v-list {
    padding: 0;
  }
  .v-list-item,
  .v-list-item__content {
    padding: 0;
  }
  .v-list-item {
    &--link {
      &:before {
        background: var(--v-primary-base);
      }
    }
    &__title,
    &__subtitle {
      white-space: normal;
    }
    &__title {
      font-size: 1rem;
      line-height: 1.5rem;
      font-weight: 700;
    }
    &__subtitle {
      font-size: 0.875rem;
      line-height: 1.5rem;
      font-weight: 500;
    }
  }
  .v-list--dense .v-list-item .v-list-item__subtitle,
  .v-list--dense .v-list-item .v-list-item__title,
  .v-list-item--dense .v-list-item__subtitle,
  .v-list-item--dense .v-list-item__title {
    font-size: 0.875rem;
    line-height: 1.5rem;
  }
  .theme--light {
    &.v-list-item {
      &:not(.v-list-item--active):not(.v-list-item--disabled) {
        color: var(--v-font-base);
      }
      &--disabled {
        .v-list-item__icon {
          .v-icon {
            color: rgba(0, 0, 0, 0.26) !important;
          }
        }
      }
      &:hover {
        &:before {
          opacity: 0.12;
        }
      }
    }
  }
  .v-list-group--sub-group.v-list-group--active {
    .v-list-item.v-list-item--active {
      & > .v-list-item__icon.v-list-group__header__prepend-icon {
        & > .v-icon {
          transform: rotate(-180deg);
        }
      }
    }
  }
  .v-list-group--sub-group.v-list-group--active {
    .v-list-item__icon.v-list-group__header__prepend-icon {
      .v-icon {
        transform: rotate(0);
      }
    }
  }

  // tabs
  .v-tabs {
    width: auto;
  }
  .v-tab {
    letter-spacing: normal;
    font-weight: 700;
  }
  .theme--light {
    &.v-tabs {
      .v-tab {
        &:hover {
          &:before {
            opacity: 0.12;
          }
        }
      }
    }
  }
  .v-slide-group__prev,
  .v-slide-group__next {
    display: none;
  }
  .v-slide-group__content {
    overflow-x: scroll;
    width: 100%;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  // table
  .theme--light {
    &.v-data-table {
      color: var(--v-font-base);
      line-height: normal;

      & > .v-data-table__wrapper {
        & > table {
          & > tbody,
          & > tfoot,
          & > thead {
            & > tr {
              & > th {
                font-size: 0.875rem;
                color: var(--v-font-base);
              }
            }
          }
          & > tbody {
            & > tr {
              &:hover {
                &:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
                  background: none;
                }
              }
            }
          }
        }
      }
    }
  }
  .v-data-table > .v-data-table__wrapper > table > tbody > tr > th,
  .v-data-table > .v-data-table__wrapper > table > tfoot > tr > th,
  .v-data-table > .v-data-table__wrapper > table > thead > tr > th {
    user-select: auto;
  }

  // toolbar
  .v-toolbar__content,
  .v-toolbar__extension {
    padding: 0;
  }

  // form inputs & controls
  .theme--light {
    &.v-label {
      color: var(--v-font-base);
    }
  }
  .v-messages {
    font-size: 0.875rem;
    &__message {
      color: var(--v-font-base);
      line-height: 1.5rem;
    }
  }

  // subheader
  .v-subheader {
    font-weight: 500;
  }

  // progress bar
  .theme--light {
    .v-progress-linear {
      color: var(--v-font-darken1);
    }
  }

  // grid
  .row {
    margin: 0;
  }
  .col {
    padding: 0;
  }

  // expansion panels
  .theme--light {
    .v-expansion-panels {
      .v-expansion-panel {
        color: var(--v-font-base);
        &:before {
          box-shadow: none;
          box-shadow: var(--shadow-low);
        }
        &:not(:first-child) {
          &:after {
            border: none;
          }
        }
      }
    }
  }
  .v-expansion-panel-header {
    padding: 20px 24px;
    line-height: inherit;
  }
  .v-expansion-panel-content__wrap {
    padding: 20px 24px;
  }
  .v-expansion-panel-header {
    &:before {
      background: var(--v-primary-base) !important;
      border-radius: initial;
    }
  }
  .theme--light {
    &.v-expansion-panels {
      &.v-expansion-panels--hover {
        & > .v-expansion-panel {
          & > .v-expansion-panel-header {
            &:hover {
              &:before {
                opacity: 0.12;
              }
            }
          }
        }
      }
    }
  }

  // forms
  .theme--light {
    &.v-input {
      color: var(--v-font-base);
      input,
      textarea {
        color: var(--v-font-base);
      }
    }
    &.v-select {
      .v-select__selections {
        color: var(--v-font-base);
      }
    }
  }
  .v-select-list {
    .v-list-item {
      padding: 0 16px;
    }
  }
  .v-select__selections {
    margin-top: 8px;
  }
  .v-text-field {
    input {
      margin-top: 8px;
    }
    .v-input__append-inner,
    .v-input__prepend-inner {
      margin-top: 12px;
    }
  }
  .v-textarea {
    textarea {
      margin-top: 8px;
    }
  }
}
