.v-application {
  .text-x-large {
    font-size: 1.25rem !important;
    line-height: 2.25rem !important;
  }
  .text-large {
    font-size: 1.125rem !important;
    line-height: 2.25rem !important;
  }
  .text-default {
    font-size: 1rem !important;
    line-height: 1.75rem !important;
  }
  .text-small {
    font-size: 0.875rem !important;
    line-height: 1.5rem !important;
  }
  .text-x-small {
    font-size: 0.75rem !important;
    line-height: 1.25rem !important;
  }
  .text-h1 {
    font-size: 1.75rem !important;
    line-height: 2.5rem !important;
    letter-spacing: normal !important;
    font-weight: 900 !important;
    color: var(--v-font-darken1) !important;
    font-family: Roboto, 'Noto Sans JP', sans-serif !important;
  }
}
